{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": ["Flutter-Generated.xcconfig", "xcconfig", "Flutter", "config", "build", "Flutter build"], "state": 2, "file_id": 59, "knowledge_revision": 187, "git_revision": "", "hash": "e135a86e67c0bf29d2c7060e3629b1cc", "format-version": 4, "code-base-name": "default", "filename": "mobile_app_frontend_workspace/mobile_app_frontend/macos/Flutter/ephemeral/Flutter-Generated.xcconfig", "revision_history": [{"187": ""}]}