{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 90, "knowledge_revision": 220, "git_revision": "", "hash": "d9dde1de6cde5b4950ec9a56b8762908", "format-version": 4, "code-base-name": "default", "filename": "mobile_app_frontend_workspace/mobile_app_frontend/windows/runner/Runner.rc", "revision_history": [{"220": ""}]}