{"is_source_file": false, "format": null, "description": null, "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 13, "knowledge_revision": 147, "git_revision": "", "hash": "b18743312930ee377dff3baabae2296a", "format-version": 4, "code-base-name": "default", "filename": "mobile_app_frontend_workspace/mobile_app_frontend/ios/Runner/Info.plist", "revision_history": [{"147": ""}]}